@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: Muekmod;
    src: url(fonts/MuekMod.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --main: #052;
  --background: beige;
  --secondary: #693;
}

body {
    background-color: var(--background);
    width: 100vw;
    color: var(--main);
    font-family: Muekmod, "Special Elite";
    font-size: 130%;
    line-height: 0.8;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* [lang="th"] {
    font-size: 1.3rem;
}

[lang="en"] {
  font-size: 1rem;
} */

header, footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

footer {
  padding: 1em;
}

header img {
    width: 100%;
}

.container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
}

p {
  margin-top: 0;
}

ol {
  list-style-type: lower-roman;
}

a {
  color: var(--secondary)
}

main{
    width: 50%;
    border: 1px solid var(--main);
    padding: 1em;
}

aside {
  border: 2px dotted var(--main);
  padding: 1em;
  width: 20%;
}

.emptydiv {
  width: 20%;
}

hr {
  border: 0.5px solid var(--main);
}