@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: Muekmod;
    src: url(fonts/MuekMod.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --main: #052;
  --background: beige;
  --secondary: #693;
  --background-image: "read";
}

html {
  overflow-x: none;
} 

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    width: 100vw;
    color: var(--main);
    font-family: Muekmod, "Special Elite";
    font-size: 130%;
    line-height: 0.8;
    overflow-x: none;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    background-size: 100% auto;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* [lang="th"] {
    font-size: 1.3rem;
}

[lang="en"] {
  font-size: 1rem;
} */

header, footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

header {
  margin-top: 1em;
}

footer {
  padding: 1em;
}

header img {
    width: 100%;
}

.container {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: flex-start;
}

p, h1 {
  margin-top: 0;
}

ol {
  list-style-type: lower-roman;
}

a {
  color: var(--secondary)
}

main {
    width: 50%;
    /* border: 1px solid var(--main); */
    padding: 1em;
    background-color: rgba(var(--background-rgb), 0.8);
}

.band main {
    border: 1px solid var(--main);
}

main > img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

aside, .cbox {
/*  border: 1px dotted var(--main); */
  padding: 1em;
  width: 20%;
}

.cbox {
  padding: 0;
}

hr {
  border: 0.5px solid var(--main);
}

.member-img {
  float: left;
  width: 70px;
  border: 1px dotted var(--main);
  margin: 0 1em 0 0;
}

.members-box > div:nth-child(even) .member-img {
  float: right;
  margin: 0 0 0 1em;
}

.members-box > div:nth-child(even) {
  text-align: right;
}

.members-box > div {
  width: 100%;
}

.band main, .band header, .band footer {
  width: 80%;
}

.band footer {
  color: var(--background);
}

.members-box {
  max-width: 400px;
  margin: 0 auto;
}

.members-box h2 {
  align-text: center;
}

h3 {
/*  margin-bottom: .3em; */
}

ol > li > a {
  display: inline-block;
  height: 1rem;
  line-height: 0.2em;
/*  background-color: red; */
}

ol > li:nth-child(odd) > a {
/*  background-color: blue; */
}

a:hover {
  color: var(--main)
}

ul {
  list-style-type: '- ';
}

.favorite-songs {
  text-align: center;
}

.links ul {
  columns: 2;
}

.links {
  border: 1px dotted var(--main);
  margin: 1em;
}

html[lang="en"] *[lang]:not([lang="en"]) {
  display: none;
}

html[lang="th"] *[lang]:not([lang="th"]) {
  display: none;
}

/* page specific */

.solidcore {
  --main: #264d83;
  --background: #ceedec;
  --background-rgb: 206, 237, 236;
  --secondary: #5381be;
  --background-image: url("img/solidcore/background.png");
}

.solidcore main img {
  filter: hue-rotate(20deg) brightness(200%) grayscale(30%);
}

.soundofdesolate {
  --main: #470a0a;
  --background: #ed9898;
  --background-rgb: 237, 152, 152;
  --secondary: #a13828;
  --background-image: url("img/soundofdesolate/background.png");
}

.soundofdesolate main img {
  filter: hue-rotate(-30deg) brightness(80%) saturate(30%);
}

@media (max-width: 600px) {
  .wrapper, header, footer, main, aside, .cbox, .container, .members-box {
    min-width: none;
    max-width: none;
    width: 100% !important;
  }
  
  .container {
    flex-direction: column;
  }
  
  main, aside, .cbox {
    border: none;
    border-bottom: 1px solid var(--main)
  }
  
  .band main {
    border: none;
  }
  
  header {
    margin: 0;
  }
  
  footer {
    margin: 0;
  }
  
  .links ul {
    columns: 1;
  }
  
}