@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
    font-family: Muekmod;
    src: url(fonts/MuekMod.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --main: #052;
  --background: beige;
}

body {
    background-color: var(--background);
    width: 100vw;
    color: var(--main);
    font-family: "Special Elite", Muekmod;
}

[lang="th"] {
    font-size: 130%;
}

header, footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

header img {
    width: 100%;
}

.container {
  display: flex;
  gap: 1em;
  justify-content: center;
}

main{
    width: 50%;
    border: 1px solid red;
}

aside {
  border: 2px dotted var(--main);
  padding: 1em;
  width: 20%;
}

.emptydiv {
  width: 20%;
}